#wrapper {
  margin-top: 1rem;
}
.textField {
  width: 30rem;
  height: 2rem;
  font-size: 1.8rem;
}
.button {
  height: 2.3rem;
  width: 3rem;
}
#gissaFormular {
  display: flex;
  flex-wrap: wrap;
  width: 34rem;
}
#mainContainer {
  display: flex;
  width: 80%;
  border: 1px solid black;
}
#multiplicationContainer {
  flex-basis: 7%;
  padding: 0 1.5em 0;
  border: 1px solid black;
}
