#wrapper {
  margin-top: 1rem;
}
.textField {
  width: 30rem;
  height: 2rem;
  font-size: 1.8rem;
}
.button {
  height: 2.3rem;
  width: 3rem;
}
#gissaFormular {
  display: flex;
  flex-wrap: wrap;
  width: 34rem;
}
#mainContainer {
  display: flex;
  width: 78%;
  border: 1px solid black;
}
#multiplicationContainer {
  flex-basis: 7%;
  padding: 0 1.5em 0;
  border: 1px solid black;
}
.out {
  color: Red;
}

#intForm {
  padding: 0 0 0 40px;
}

#reseDatum {
  display: flex;
}

.label {
  margin: 0;
}

#menylista {
  display: flex;
  width: 20rem;
  padding: 0;
}

#menyitem1,
#menyitem2 {
  list-style: none;
  padding: 0 1rem;
  background-color: red;
  border-radius: 10px;
  max-height: 1.2rem;
  margin: 0 auto;
}

.undermeny {
  list-style: none;
  padding: 0;
  text-align: center;
  background-color: lightgreen;
}

.underli {
  display: none;
}

#box {
  margin-top: 5rem;
  height: 100px;
  width: 100px;
  background-color: lightseagreen;
  position: absolute;
}
